<main
  class="p-6 bg-gray-100 relative rounded shadow flex flex-col mx-2 sm:mx-0">
  <h1 class="font-bold text-headline text-xl">{{ product()?.title }}</h1>
  <hr class="h-px bg-main border-0" />
  <section class="flex flex-col items-center gap-y-3 py-3">
    <picture class="relative">
      <app-image
        [name]="product()?.image"
        customClass="image size-36 w-full object-contain aspect-video " />
      <span
        class="absolute flex right-0 top-0 text-xs font-light bg-main text-paragraph px-0.5 rounded-sm gap-x-1 items-center">
        <app-image name="tag.svg" class="size-3" />
        {{ product()?.price | currency }}
      </span>
    </picture>
    <section
      class="w-full flex flex-col bg-background px-5 py-2 rounded-md gap-y-2 border border-main">
      <span class="text-[0.6rem] text-paragraph font-light">
        {{ product()?.category | titlecase }}
      </span>
      <p class="text-paragraph text-pretty text-sm">
        {{ product()?.description }}
      </p>
      <form
        class="w-full flex items-center gap-x-3 gap-y-3 sm:gap-y-0 flex-col sm:flex-row">
        <section class="relative flex items-center max-w-[11rem]">
          <app-button
            (onClick)="onDecrement()"
            [icon]="{ name: 'minus.svg', sizeClass: 'size-7' }"
            customClass="bg-green-500 rounded-lg px-2 py-1" />
          <input
            type="text"
            class="bg-transparent border-transparent border-x-0 h-0 font-medium text-center text-gray-900 text-sm focus:ring-transparent focus:border-transparent block w-full pb-6"
            [formControl]="quantity" />
          <picture
            class="absolute bottom-1 start-1/2 -translate-x-1/2 rtl:translate-x-1/2 flex items-center text-xs text-gray-400 space-x-1 rtl:space-x-reverse">
            <app-image name="shopping-cart-plus.svg" customClass="size-3" />
            <span>Items</span>
          </picture>
          <app-button
            (onClick)="onIncrement()"
            [icon]="{ name: 'plus.svg', sizeClass: 'size-7' }"
            customClass="bg-green-500 rounded-lg px-2 py-1" />
        </section>
        <app-button
          class="grow w-full"
          text="Add cart"
          customClass="rounded py-1.5 px-2 w-full"
          [icon]="{ name: 'shopping-cart-plus.svg', left: true }" />
      </form>
      <app-button
        class="grow w-full"
        text="Cancel"
        customClass="rounded py-1.5 px-8 w-full"
        color="danger"
        (onClick)="onClose()" />
    </section>
  </section>
</main>
