@if (!hasError().error) {
  <main class="w-full flex flex-col items-center justify-center p-2">
    <section class="w-full flex flex-wrap gap-2 px-3">
      <span
        class="rounded-full px-2 py-0.5 text-xs bg-main cursor-pointer text-paragraph"
        (click)="changeCategory()">
        All
      </span>
      @for (category of categories(); track $index) {
        <span
          (click)="changeCategory(category)"
          class="rounded-full px-2 py-0.5 text-xs bg-main cursor-pointer text-paragraph">
          {{ category | titlecase }}
        </span>
      }
    </section>
    <section class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-2">
      @for (product of products(); track product.id) {
        <app-product-card [product]="product" />
      } @empty {
        <section class="col-span-3 place-self-center w-full text-center">
          <app-mood-empty iconClass="size-56 sm:size-96 text-red-500" />
        </section>
      }
    </section>
    @if (products().length > 0) {
      <app-button
        text="View more"
        customClass="rounded py-1.5 px-8"
        (onClick)="loadMore()" />
    }
  </main>
} @else {
  <app-lost-connection />
}
