<main class="h-screen p-2">
  <header
    class="py-3 px-4 relative flex items-center justify-between border-b-2">
    <span class="text-xl text-center text-gray-900"> Shopping cart </span>
    <app-button
      (onClick)="onClose.emit()"
      [icon]="{ name: 'arrows-minimize.svg' }"
      color="" />
  </header>
  <section class="px-3 pt-3 pb-1 overflow-y-auto">
    <ul class="w-full">
      @for (product of cartStore.products(); track product.id) {
        <li class="w-full flex items-center justify-center gap-x-2 py-2">
          <app-image [name]="product.image" customClass="size-10" />
          <article class="flex-1">
            <p class="text-paragraph text-xs">{{ product.title }}</p>
            <span class="flex items-baseline justify-between gap-x-5">
              <p class="text-neutral-400 text-[0.75rem]">
                Ind: {{ product.price | currency }} x {{ product.count }}
              </p>
              <p class="text-paragraph text-sm my-0.5">
                {{ product.subTotal | currency }}
              </p>
            </span>
          </article>
          <app-button
            (onClick)="removeProduct(product.id)"
            [icon]="{ name: 'trash-x.svg' }"
            color=""
            customClass="rounded-full p-1" />
        </li>
      } @empty {
        <app-shopping-cart-off
          continerClass="flex justify-center items-center py-10"
          iconClass="size-16" />
      }
      <hr />
      <li class="w-full flex flex-col items-end justify-center gap-x-2 py-2">
        <span class="text-paragraph text-[1rem]">
          Subtotal: {{ cartStore.subtotalAmount() | currency }}
        </span>
        <span class="text-paragraph text-[1rem]">
          Total: {{ cartStore.totalAmount() | currency }}
        </span>
      </li>
    </ul>
  </section>
</main>
