<main class="flex p-3 gap-5 flex-wrap items-center justify-center">
  <picture
    class="relative border-2 border-main rounded-xl cursor-pointer transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 hover:bg-gray-200 duration-300 m-3">
    <app-image
      routerLink="./product"
      name="web-shopping.svg"
      customClass="size-[15rem] sm:size-[18rem] p-2" />
    <h6 class="absolute bottom-0 left-3 text-paragraph text-sm font-semibold">
      Ecommerce
    </h6>
  </picture>

  <picture
    class="relative border-2 border-main rounded-xl cursor-pointer transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 hover:bg-gray-200 duration-300 m-3">
    <app-image
      routerLink="./product"
      name="web-shopping.svg"
      customClass="size-[15rem] sm:size-[18rem] p-2" />
    <h6 class="absolute bottom-0 left-3 text-paragraph text-sm font-semibold">
      Ecommerce
    </h6>
  </picture>

  <picture
    class="relative border-2 border-main rounded-xl cursor-pointer transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 hover:bg-gray-200 duration-300 m-3">
    <app-image
      routerLink="./product"
      name="web-shopping.svg"
      customClass="size-[15rem] sm:size-[18rem] p-2" />
    <h6 class="absolute bottom-0 left-3 text-paragraph text-sm font-semibold">
      Ecommerce
    </h6>
  </picture>

  <picture
    class="relative border-2 border-main rounded-xl cursor-pointer transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 hover:bg-gray-200 duration-300 m-3">
    <app-image
      routerLink="./product"
      name="web-shopping.svg"
      customClass="size-[15rem] sm:size-[18rem] p-2" />
    <h6 class="absolute bottom-0 left-3 text-paragraph text-sm font-semibold">
      Ecommerce
    </h6>
  </picture>

  <picture
    class="relative border-2 border-main rounded-xl cursor-pointer transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 hover:bg-gray-200 duration-300 m-3">
    <app-image
      routerLink="./product"
      name="web-shopping.svg"
      customClass="size-[15rem] sm:size-[18rem] p-2" />
    <h6 class="absolute bottom-0 left-3 text-paragraph text-sm font-semibold">
      Ecommerce
    </h6>
  </picture>

  <picture
    class="relative border-2 border-main rounded-xl cursor-pointer transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 hover:bg-gray-200 duration-300 m-3">
    <app-image
      routerLink="./product"
      name="web-shopping.svg"
      customClass="size-[15rem] sm:size-[18rem] p-2" />
    <h6 class="absolute bottom-0 left-3 text-paragraph text-sm font-semibold">
      Ecommerce
    </h6>
  </picture>

  <picture
    class="relative border-2 border-main rounded-xl cursor-pointer transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 hover:bg-gray-200 duration-300 m-3">
    <app-image
      routerLink="./product"
      name="web-shopping.svg"
      customClass="size-[15rem] sm:size-[18rem] p-2" />
    <h6 class="absolute bottom-0 left-3 text-paragraph text-sm font-semibold">
      Ecommerce
    </h6>
  </picture>
</main>
