<section [class]="classContainer">
  @if (customContend()) {
    <ng-content></ng-content>
  } @else {
    <label [for]="label()" class="block mb-2 text-sm font-medium text-paragraph"
      >{{ label() }} {{ required() ? '*' : '' }}</label
    >
    <article [ngClass]="{ relative: prefixIcon() }">
      @if (prefixIcon()) {
        <picture
          class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
          <app-image [name]="prefixIcon()" [customClass]="sizeIconClass()" />
        </picture>
      }
      <input
        [type]="
          inputType() === 'password' && showPassword() ? 'text' : inputType()
        "
        [id]="label()"
        class="bg-background border-none text-paragraph text-sm rounded-md focus:ring-transparent focus:border-transparent block w-full p-2.5"
        [ngClass]="inputClass"
        [formControl]="control()"
        [placeholder]="placeholder()" />

      @if (inputType() === 'password') {
        <button
          type="button"
          class="absolute inset-y-0 end-0 flex items-center pe-3.5"
          (click)="onShowPassword()">
          <app-image
            [name]="!showPassword() ? 'beer.svg' : 'beer-off.svg'"
            customClass="size-6" />
        </button>
      }
    </article>
  }
  @if (invalidField) {
    <span class="flex mt-0.5">
      <p
        class="text-xs text-paragraph py-1 px-2 rounded-md w-full scale-up-top-left">
        {{ errorMessage }}
      </p>
    </span>
  }
</section>
