<main class="flex items-start flex-col-reverse md:flex-row pt-0 md:pt-5">
  <section
    class="w-full md:w-1/2 flex items-center justify-center pt-2 md:pt-0">
    <aside class="px-5 w-[29rem] md:w-full">
      <article class="p-8 rounded border-2 border-main w-full">
        <h2 class="font-bold text-2xl text-headline">Instructions</h2>
        <ul class="list-disc mt-4 list-inside text-paragraph">
          <li>
            All users must provide a valid email address and password to create
            an account.
          </li>
          <li>
            Users must not use offensive, vulgar, or otherwise inappropriate
            language in their username or profile information
          </li>
          <li>Users must not create multiple accounts for the same person.</li>
        </ul>
      </article>
    </aside>
  </section>

  <section
    class="w-full md:w-1/2 flex items-center justify-center pt-2 md:pt-0">
    <article
      class="flex flex-col items-center justify-center w-[26.5rem] bg-main p-5 mx-3 md:mx-0 rounded-lg">
      <h1
        class="w-full flex items-center justify-start text-3xl font-bold my-5 text-headline">
        Register
      </h1>
      <form [formGroup]="registerForm" class="w-full" (ngSubmit)="onSubmit()">
        <app-input
          label="Your Name"
          placeholder="name@flowbite.com"
          [required]="true"
          [control]="registerForm.controls.name"
          prefixIcon="user-edit.svg" />

        <app-input
          label="Your Email"
          placeholder="elonmusk"
          [required]="true"
          [control]="registerForm.controls.email"
          prefixIcon="main.svg" />

        <app-input
          label="Your Password"
          inputType="password"
          placeholder="elonmusk"
          [required]="true"
          [control]="registerForm.controls.password"
          prefixIcon="password-user.svg" />

        <section class="flex items-center justify-between">
          <app-button
            type="submit"
            [customContend]="true"
            customClass="w-full relative inline-flex items-center justify-center px-16 py-2 overflow-hidden transition duration-300 ease-out rounded group mt-4">
            <span
              class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-main group-hover:translate-x-0 ease border-2 border-tertiary">
              <app-image name="arrow-right-to-arc.svg" customClass="size-5" />
            </span>
            <span
              class="absolute flex items-center justify-center w-full h-full transition-all duration-300 transform group-hover:translate-x-full ease text-paragraph"
              >Sign up</span
            >
            <span class="relative invisible text-paragraph">Sign up</span>
          </app-button>

          <span class="flex items-center justify-center mt-5">
            <a
              routerLink="/sign-in"
              class="text-sm hover:underline text-paragraph"
              >Already registered?</a
            >
          </span>
        </section>
      </form>
    </article>
  </section>
</main>
